{% extends 'base.html' %}
{% block scripts %}
<html>
    <head>
            <link type="text/css" href="/static/estilo.css" rel="stylesheet"/>
    </head>
{% endblock %}
{% block conteudo %}    
    <body>
        <ul>
            <menu><a href="http://localhost:8000/areaProfessor/">Home</a></menu>
            <menu><a href="http://localhost:8000/dadosprof/">Dados Pessoais</a></menu>
            <menu><a href="http://localhost:8000/notasaluno/">Notas</a></menu>
            <menu><a href="">Frequência</a></menu>
            <menu><a href="">Horários</a></menu>
            <menu><a href="http://localhost:8000/contatoProf">Contato dos Professores</a></menu>
            <menu><a href="">Fale Conosco</a></menu
        </ul>
        </div>
            </br><center>
            <table border='1'>
                <center><tr><th colspan='2'><strong>Contate seu professor</strong></th></tr></center>
                <tr><td><strong>Nome do Professor(a)</strong></td><td><strong>E-mail</strong></td></tr>
                <tr><td>Professor 01</td><td>professor01@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 02</td><td>professor02@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 03</td><td>professor03@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 04</td><td>professor04@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 05</td><td>professor05@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 06</td><td>professor06@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 07</td><td>professor07@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 08</td><td>professor08@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 09</td><td>professor09@faculdademagtv.com.br</td></tr>
                <tr><td>Professor 10</td><td>professor10@faculdademagtv.com.br</td></tr>
            </table>
            </br>
        </body>
    </html>
{% endblock %}    