{% extends 'base.html' %}
{% block scripts %}
<html>
    <head>
            <link type="text/css" href="/static/estilo.css" rel="stylesheet"/>
    </head>
{% endblock %}
{% block conteudo %}    
    <body>
        <ul>
            <menu><a href="http://localhost:8000/areaProfessor/">Home</a></menu>
            <menu><a href="http://localhost:8000/dadosprof/">Dados Pessoais</a></menu>
            <menu><a href="http://localhost:8000/notasaluno/">Notas</a></menu>
            <menu><a href="">Frequência</a></menu>
            <menu><a href="">Horários</a></menu>
            <menu><a href="http://localhost:8000/contatoProf">Contato dos Professores</a></menu>
            <menu><a href="">Fale Conosco</a></menu
        </ul>
        <form action ='' method='POST'>
            {% csrf_token %}
            E-mail <input name='email' type='email'/><br/>
            Nome <input name='nome'/><br/>
            Mensagem <textarea name='mensagem'></textarea>
            <input type='submit' value='enviar'/>
        </form>
{% endblock %}








