{% extends 'base.html' %}
{% block scripts %}
<html 
	<head>
		<link type="text/css" href="/static/estilo.css" rel="stylesheet"/>
		<title>Dados do Professor</title>
	</head>
{% endblock %}
{% block conteudo %}
	<body>
		<center><strong>Meus Dados</strong></center></br>
		<div id="navbar" class="nav-collapse" aria-expanded="false">
			<ul class="nav navbar-nav nav-bar-1">
				<li class="dropdown">
					<ul class="dropdown-menu" role="menu">
						<menu><a href="http://localhost:8000/areaProfessor">Home</a></menu>
						<menu><a href="http://localhost:8000/dadosprof/">Dados Pessoais</a></menu>
						<menu><a href="http://localhost:8000/notasprof/l">Notas</a></menu>
						<menu><a href="">Frequência</a></menu>
						<menu><a href="">Horários</a></menu>
						<menu><a href="http://localhost:8000/contatoProf/">Contato dos Professores</a></menu>
					</ul>
				</li>
			</ul>
		</div>
		</br>
		</br>
	</body>
</html>
{% endblock %}