{% extends 'base.html' %}
{% block script %}
<html>
	<head>
		<link type="text/css" href="/static/estilo.css" rel="stylesheet"/>
		<title>Notas do Aluno</title>
	</head>
{% endblock %}
{% block conteudo %}
	<body>
		<center><strong>Minhas notas</strong></center></br>
		<div id="navbar" class="nav-collapse" aria-expanded="false">
			<ul class="dropdown-menu" role="menu">
				<menu><a href="http://localhost:8000/areaAluno/">Home</a></menu>	
				<menu><a href="http://localhost:8000/dadosAlunos/">Dados do aluno</a></menu>
				<menu><a href="http://localhost:8000/notasaluno/">Notas</a></menu>
				<menu><a href="frequencia.html">Frequência</a></menu>     
				<menu><a href="">Horários</a></menu>
				<menu><a href="http://localhost:8000/contatoProf/">Contato dos Professores</a></menu>
				<menu><a href="">Fale Conosco</a></menu
			</ul>
		</div>
		</br>
	</body>
</html>
{% endblock %}