{% extends 'base.html' %}
{% block scripts %}
<html>
	<head>
		<link type="text/css" href="/static/estilo.css" rel="stylesheet"/>
		<title>Área de Professor</title>
	</head>
{% endblock %}
{% block conteudo %}		
<body>
	<center><strong>Seja Bem-vindo Professor !</strong></center></br>
			<ul>
				<menu><a href="http://localhost:8000">Home</a></menu>
				<menu><a href="http://localhost:8000/dadosprof/">Dados Pessoais</a></menu>
				<menu><a href="http://localhost:8000/notasprof/">Notas</a></menu>
				<menu><a href="frequencia_prof.html">Frequência</a></menu>
				<menu><a href="">Horários</a></menu>
				<menu><a href="http://localhost:8000/contatoProf/">Contato dos Professores</a></menu>
				<menu><a href="">Fale Conosco</a></menu>
			</ul>
				</br>
	</body>
</html>
{% endblock %}